<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div class="header">
            <div id="imgLogo">
                <img src="assets/dummy_Logo.png" alt = "CoLa" width="57" height="57" class="logo" >
            </div>
            <div id="brandName">
                <a href="#default" class="logo">CoLa</a>
            </div>
            <div id="topnav">
                <input type="text" placeholder="Search.." size = 50>
            </div> 
            <div class="header-right">
              <a href="#home">Mein Lager</a>
              <a href="#options">Einstellung</a>
              <a href="#logout">Ausloggen</a>
            </div>
        </div>
    </body>
</html>