<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="sideBar">
  <a >Kategorie 1</a>
  <a >Kategorie 2</a>
  <a >Kategorie 3</a>
  <a >Kategorie 4</a>
  <a >Kategorie 5</a>
  <a >Kategorie 6</a>
  <a >Kategorie 7</a>
  <a >Kategorie 8</a>
  <a >Kategorie 9</a>
  <a >Kategorie 10</a>
  <a >Kategorie 11</a>
  <a >Kategorie 12</a>
</div>

<!--
<ul *ngFor="let category of arrCategoryList">
      <a >{{category.Category_Name}}</a> 
</ul>
-->


</body>
</html> 