
<div class="fluid-Container">
    <div class="row">
        <div class="col-sm-12 btn btn-primary">
            Sortiment
        </div>
    </div>
    <div class="row" style="margin-top:10px;margin-bottom: 10px;">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" (click)="filterBy=0">Alles</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" (click)="filterBy=1">Nahrungsmittel</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" (click)="filterBy=2">Haushaltsartikel</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" (click)="filterBy=3">Büroartikel</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" (click)="filterBy=4">Sonstiges</button>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" *ngFor="let article of (UserArticles | filterArticles:filterBy);let i=index">
            <img src="assets/Images/{{article.Produktname}}.jpg" class="img" width="240" height="170">
            <div class="qty mt-5">
                <span class="minus bg-dark" (click) ="substract(i)">-</span>
                <input type="number" class="count" name="qty" [(ngModel)]="article.Menge">
                <span class="plus bg-dark" (click) ="add(i)">+</span>
            </div>
        </div>
    </div>

    <button id="button" class="btn-primary" (click) ="onClick()" >Speichern</button>



    <div id="modal" class="bg-modal">
        <div class="modal-content">

            <div class="close" (click)="onClose()">+</div>

            <img id="virus" src="assets/Images/virus.png" alt="Coronavirus" >

            <a href="" class="button">Verstanden!</a>
        </div>

    </div>
    <span class="badge"></span>

</div>